@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Inter",serif;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
    padding:20px;
    border-bottom: 1px solid #ccc8c8;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
nav img{
    width: 120px;
    height: 17px;
}
nav ul{
    display: flex;
    list-style:none;
    align-items: center;
    gap: 30px;
    color: #717171;
}
nav ul span{
    color: black;
    margin-left: 20px;
}
main .landing-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
main .landing-img img{
    width: 500px;
}
main .landing-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom:80px;
    color: #424242;
}
main .landing-txt h1{
    font-size: 45px;
    font-weight: 500;
}
main .landing-txt h4{
    margin: 30px;
    font-size: 20px;
    font-weight: 500;
}
main .landing-txt button{
    width: 180px;
    height: 40px;
    padding: 0 10px;
    background-color: #387ed1;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
    margin-top: 40px;
}
main .achivment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin:20px 50px ;
}
.achivment .left img{
    width: 400px;
    margin:10px;

}
.achivment .right{
    width:33vw;
    color: #626262;
    margin:0 30px;
}
.achivment .right h2{
    font-size: 35px;
    font-weight: 500;
    margin-bottom:30px;
}
.achivment .right h5{
    font-size:16px;
    font-weight:400;
    margin:10px 0 30px;
}
.achivment .right .key-point{
    margin:10px 0 20px;
    display:flex;
    gap:20px;
    line-height:30px;
}
.achivment .right .press-img img{
    width:100%;
    margin:10px;
}